@ media (max-width:992)
{
    .banner-container
    {
        height: 100%;
        width: 100;
        padding: 0%;
    }
    .gallery
    {
        height: 950px;
    }
    .gallery-container
    {
        height: 650px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    img{
        padding: 5px;
        width: 45%;
    }
}
@media(max-width:768px)
{
    .gallery
    {
        height: 1150px;
    }
    .gallery-container
    {
        height: 1050px;
        justify-content: center;
        display: flex
        flex-direction:column;
    }
    img
    {
        padding: 5px 0px;
        width: 70%;
    }
    .footer
    {
        height: auto;
        padding-bottom: 10px;
    }
}
@media (max-width:480px)
{
    .navbar
    {
        width: 95%;
    }
    .logo
    {
        font-size: 13px;
    }
    .menu li
    {
        padding-left: 10px;
    }
    .menu li a {
        font-size: 15px;
    }
    ,img{
        width: 90%;
    }
}

